@import "tailwindcss";

a.active hr {
  display: block;
}

/* Extra Small (XS) - Phones (up to 575.98px) */
@media (max-width: 575.98px) {
  .logo {
    height: 2.5rem;
    object-fit: cover;
    width: 13rem;
    margin-right: 0.5rem;
  }
}

/* Small (SM) - Large phones and small tablets (576px - 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .logo {
    height: 2.5rem;
    object-fit: cover;
    width: 13rem;
    margin-right: 0.5rem;
  }
}

/* Medium (MD) - Tablets (768px - 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .logo {
    height: 2.5rem;
    object-fit: cover;
    width: 13rem;
    margin-right: 0.5rem;
  }
}

/* Large (LG) - Small laptops and desktops (992px - 1199.98px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .logo {
    height: 2.5rem;
    object-fit: cover;
    width: 13rem;
  }
}

/* Extra Large (XL) - Large desktops (1200px - 1399.98px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .logo {
    height: 3rem;
    object-fit: cover;
    object-position: center;
    width: 16rem;
  }
}

/* 2X Extra Large (XXL) - Very large screens (1400px and up) */
@media (min-width: 1400px) {
  .logo {
    height: 3rem;
    object-fit: cover;
    object-position: center;
    width: 16rem;
  }
}
